
/* Let me know if you have any questions about these CSS rules. */

body,html {
  height: 100%;
  margin: 0px;
  padding: 0;
}

#pinContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.panel > h1 {
    font-size: 1.5rem;
    color: white;
    position: relative;
    display: block;
    height: 0;
    overflow: visible;
    top: 50%;
}

.one {
    background-image: url('../image/main_screen.jpg');
}

.two {
    background-image: url('../image/main_room.jpg');
}

.three {
    background-image: url('../image/dining_table_view.jpg');
}

.four {
    background-image: url('../image/bar.jpg');
}
