<!DOCTYPE html>
<html>
<head>
	<title>Toucans #05</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Load main.css -->
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">  

</head>
<body>

	<div id="pinContainer">
		
		<div class="panel one">
			<div id="slidein1">
				<h1 class="section1-text">The Misfit Table</h1>
			</div>
		</div>
		<div class="panel two">
			<div id="slidein2">
				<h1 class="section1-text">Local and Organic Food </h1>
			</div>
			
		</div>
		<div class="panel three">
			<div id="slidein3">
				<h1 class="section1-text">Strong and Inspiring Drinks</h1>
			</div>
		</div>
	</div>

	<div id="section2" class="food-menu">
		<div id="reveal-elements">
			<h1 class="section2-text1 digit">Food Menu</h1>
			<h1 class="section2-text2 digit">Brunch</h1>
			<h1 class="section2-text3 digit">Lunch</h1>
			<h1 class="section2-text4 digit">Dinner</h1>
			<h1 class="section2-text5 digit">Drinks</h1>
		</div>

	</div>
	
	<div id="section3" class="contact-hours">

		<div id="hours">
			<h1 class="hours-desc digit">Hours</h1>
			<div class="hour-content digit">
					<h3>Mon: Closed</h3>
					<h3>Tue: 10 am -  Midnight</h3>
					<h3>Wed: 10 am -  Midnight</h3>
					<h3>Thu: 10 am -  Midnight</h3>
					<h3>Fri: 10 am -  Midnight</h3>
					<h3>Sat: 10 am -  Midnight</h3>
					<h3>Sun: 10 am -  Midnight</h3>
			</div>
		</div>

		<div id="contacts">
				<h1 class="contact-desc digit">Contacts</h1>
				<div class="contact-content digit">
					<div class="contact_1">
						<div class="contact_pic1"><i class="fab fa-github-alt fa-5x"></i></div>
						<div class="contact_info_1">
							<h2>GitHub:	money0609</h2>
							<h2>Team Chingu:    V11 Toucans #05</h2>
						</div>
					</div>
	
					<div class="contact_1">
						<div class="contact_pic1"><i class="fab fa-github-alt fa-5x"></i></div>
						<div class="contact_info_1">
							<h2>GitHub:	alatruwe</h2>
							<h2>Team Chingu:    V11 Toucans #05</h2>
						</div>
	
					</div>
				</div>
			</div>
	</div>
	
	<div id="nav-dots">
		<ul>
			<li><a href="#pinContainer"><span class="nav-dot"></span><span class="nav-label">Introduction</span></a></li>
			<li><a href="#section2"><span class="nav-dot"></span><span class="nav-label">Menu</span></a></li>
			<li><a href="#section3"><span class="nav-dot"></span><span class="nav-label">Contacts & Hours</span></a></li>
		</ul>
	</div>

	<!--CDNs for jQuery, GSAP, ScrollMagic, and two ScrollMagic plugins-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
	<!-- Load home.js -->
	<script src="../js/home.js"></script>
</body>

</html>